{% extends 'base.html' %}

{% block title %}
  {{ menu.nom }} 
{% endblock %}

<!-- Page Content -->

{% block content %}

  <div class="row">

  <div class="col-lg-3">

    <h1 class="my-4">Menu</h1>
    <div class="list-group">
      {% for menu in menus %}

        <a class="list-group-item" href="{% url 'restaurant:menus_produit' menu.slug %}">{{ menu.nom }}</a>
      {% endfor %}

    </div>
  </div>
  <!-- /.col-lg-3 -->


  <div class="col-lg-9">
    <div class="row"><div class="col-lg-5"><h3 class="my-4">{{ menu.nom }}</h3></div></div>

    <div class="row">

      {% for produit in menu.produits.all %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{ produit.nom }}</a>
              </h4>
              <h5>{{ produit.prix }}€</h5>
              <p class="card-text">{{ produit.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->
  </div>
    <!-- /.row -->
{% endblock %}
